<!-- ---

---

<section class="bg-black p-4">
  <div
    class="container flex mx-auto px-4 py-16 md:px-20 md:py-20 items-center justify-center bg-gradient-to-r from-white to-gray-400 rounded-xl shadow-md shadow-slate-400 light-section"
  >
  <h2 class="text-blue-950 font-medium text-3xl px-2 pb-4 md:pb-8">
    History of Augmented Reality
  </h2>
    <div class="space-y-6 border-l-2 border-dashed">
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">The Early Beginnings</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">1968</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">The concept of AR was first introduced by computer scientist Ivan Sutherland, who created the "Sword of Damocles," the first head-mounted display system. This primitive AR system overlaid simple wireframe graphics onto the real world, laying the foundation for future AR technologies.</p>
          
        </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">Development of Virtual Fixtures</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">1992</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">In the early 1990s, Louis Rosenberg developed "Virtual Fixtures" at the U.S. Air Force Armstrong Laboratory. This AR system used robotic arms and overlays to enhance the performance of human operators by guiding them in real-world tasks, marking one of the first practical applications of AR.</p>
          
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">ARToolKit Release</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">1999</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">The release of ARToolKit by Hirokazu Kato in 1999 was a significant milestone for AR development. ARToolKit is an open-source software library that enabled the easy creation of AR applications by allowing developers to overlay virtual objects on physical markers viewed through a camera. It became a foundational tool in the development of AR applications.</p>
          
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">Mainstream Adoption with Pokémon GO</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">2016</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">AR gained mainstream attention with the release of Pokémon GO in 2016. Developed by Niantic, the mobile game used AR to place virtual Pokémon in real-world environments, allowing players to "catch" them using their smartphones. The game’s massive popularity brought AR into the global spotlight and demonstrated the potential of technology for entertainment and engagement</p>
          
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="bg-black p-4">
  <div
    class="container flex flex-col md:flex-row mx-auto px-4 py-16 md:px-20 md:py-20 items-center justify-center bg-gradient-to-r from-white to-gray-400 rounded-xl shadow-md shadow-slate-400 light-section"
  >
    <h2 class="text-blue-950 font-medium text-3xl px-2 pb-4 md:pb-8 w-full md:w-auto">
      History of Augmented Reality
    </h2>
    <div class="space-y-6 border-l-2 border-dashed w-full md:ml-6 md:w-auto">
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">The Early Beginnings</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">1968</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">The concept of AR was first introduced by computer scientist Ivan Sutherland, who created the "Sword of Damocles," the first head-mounted display system. This primitive AR system overlaid simple wireframe graphics onto the real world, laying the foundation for future AR technologies.</p>
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">Development of Virtual Fixtures</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">1992</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">In the early 1990s, Louis Rosenberg developed "Virtual Fixtures" at the U.S. Air Force Armstrong Laboratory. This AR system used robotic arms and overlays to enhance the performance of human operators by guiding them in real-world tasks, marking one of the first practical applications of AR.</p>
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">ARToolKit Release</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">1999</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">The release of ARToolKit by Hirokazu Kato in 1999 was a significant milestone for AR development. ARToolKit is an open-source software library that enabled the easy creation of AR applications by allowing developers to overlay virtual objects on physical markers viewed through a camera. It became a foundational tool in the development of AR applications.</p>
        </div>
      </div>
      <div class="relative w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-800">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div class="ml-6">
          <h4 class="font-bold text-xl text-blue-800">Mainstream Adoption with Pokémon GO</h4>
          <span class="mt-1 block text-sm font-semibold text-blue-500">2016</span>
          <p class="mt-2 max-w-screen-sm text-lg text-primary-700">AR gained mainstream attention with the release of Pokémon GO in 2016. Developed by Niantic, the mobile game used AR to place virtual Pokémon in real-world environments, allowing players to "catch" them using their smartphones. The game’s massive popularity brought AR into the global spotlight and demonstrated the potential of technology for entertainment and engagement.</p>
        </div>
      </div>
    </div>
  </div>
</section>
