---

---

<section class="bg-black p-4">
  <div class="container mx-auto px-6 py-16 md:px-20 md:py-20 bg-black rounded-xl md:rounded-[30px] light-section text-center">
    <h2 class="text-4xl text-blue-500 mb-4">How AR Works</h2>
    <p class="text-2xl mb-6 text-white">
      Augmented Reality (AR) blends digital content with the real world. It works by using:
    </p>
    <ul class="list-disc pl-5 m-10 text-xl inline-block text-left text-primary-100">
      <li>Cameras & Sensors: The device's camera captures the real environment, while sensors track movement and orientation.</li>
      <li>Computer Vision: Recognizes and tracks objects or surfaces in real time.</li>
      <li>Rendering Engine: Generates and overlays digital content onto the real-world view, matching perspective and lighting.</li>
      <li>Interaction: Users can interact with virtual elements through touch, gestures, or voice, with real-time feedback.</li>
    </ul>
    <ul class="list-disc pl-5 m-10 text-xl inline-block text-left text-primary-100">
      <li class="mb-4 flex justify-center">
        <div class='w-full max-w-[640px] flex items-center justify-center '>
          <div class="overflow-hidden aspect-video bg-red-400 cursor-pointer rounded-xl relative group">
            <div class="rounded-xl z-50 opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out cursor-pointer absolute inset-0 bg-gradient-to-t from-black/80 to-transparent flex items-end">
              <div class="p-4 space-y-3 text-xl transform-gpu transition duration-300 ease-in-out">
                <div class="font-bold">Reality Reimagined</div>
                <div class="opacity-60 text-md">
                  Redefine your reality with AR. Immerse yourself in experiences that bridge the gap between the virtual and the tangible. Unlock new perspectives as digital content seamlessly interacts with your real-world environment.
                </div>
              </div>
            </div>
            <img alt="" class="object-coveraspect-square group-hover:scale-110 transition duration-300 ease-in-out" src="/src/assets/ar2.jpg"/>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
